<div class="px-3 col-sm-10 m-auto text-light">
    <div class="mb-3">
        <app-search></app-search>
    </div>
    <div class="row g-0">
        <div class="col-sm-7 col-lg-8 col-xl-9">
            <div class="mt-2">
                <div class="shadow rounded-4">
                    <app-ratio-video></app-ratio-video>
                </div>
                <div class="mt-4">
                    <h3 class="text-truncate fw-bold">
                        SƠN TÙNG M-TP | CHÚNG TA CỦA HIỆN TẠI
                    </h3>
                    <span>
                        100.000.000 lượt xem • 20/20/2020
                    </span>
                    <span class="material-icons float-end me-2">
                        favorite
                    </span>
                </div>
            </div>
            <hr class="m-auto mt-4" style="color: #ff7d5a;">
        </div>
        <div class="col-sm-5 col-lg-4 col-xl-3">
            <div class="p-4 mt-2">
                <a 
                    href="/watch" 
                    class="nav-link">
                    <app-ratio-image></app-ratio-image>
                    <div class="row pt-2">
                        <div class="col-3">
                            <a class="d-flex align-items-center mt-2 ms-2 ratio ratio-1x1" 
                            href="/channel">
                            <div class="ratio ratio-1x1 avatarsmall d-flex align-items-center"
                                style="max-height: 75%; max-width: 75%;">
                                <app-avatar></app-avatar>
                            </div>
                        </a>
                        </div>
                        <div class="col-9">
                            <h3 class="text-truncate fw-bold">
                                NƠI NÀY CÓ ANH
                            </h3>
                            <a 
                                href="/channel" 
                                class="nav-link" 
                                style="margin-top: -18px;">
                                <p style="color: #ff7d5a;">
                                    SonTung-MTP
                                </p>
                            </a>
                            <div class="row small" 
                                style="margin-top: -10px;">
                                <p class="col text-truncate">
                                    1.1tr lượt xem
                                </p>
                                <p class="col">
                                    17/06/2022
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>