<div class="col-sm-10 m-auto text-light">
    <div class="p-3 mt-2 rounded-4 color">
        <a 
            href="/channel"
            class="background d-flex align-items-center">
            <app-background></app-background>
            <div class="ratio ratio-1x1 avatar d-flex align-items-center">
                <app-avatar></app-avatar>
            </div>
            <div class="name">
                Thái Ngu Pú Đá
            </div>
        </a>
    </div>
    <div class="row">
        <div class="col-4">
            <h2 class="ms-1 mt-3">
                Video đã tải lên
            </h2>
        </div>
        <div class="col-8 mt-3">
            <app-search></app-search>
        </div>
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-2">
        <a 
            href="/watch" 
            class="nav-link">
            <app-ratio-image></app-ratio-image>
            <div class="row pt-2">
                <div class="col-3">
                    <a class="d-flex align-items-center mt-2 ms-2 ratio ratio-1x1" 
                        href="/channel">
                        <div class="ratio ratio-1x1 avatarsmall d-flex align-items-center"
                            style="max-height: 75%; max-width: 75%;">
                            <app-avatar></app-avatar>
                        </div>
                    </a>
                </div>
                <div class="col-9">
                    <h3 class="text-truncate fw-bold">
                        NƠI NÀY CÓ ANH
                    </h3>
                    <a 
                        href="/channel" 
                        class="nav-link" 
                        style="margin-top: -18px;">
                        <p style="color: #ff7d5a;">
                            SonTung-MTP
                        </p>
                    </a>
                    <div class="row small" 
                        style="margin-top: -10px;">
                        <p class="col text-truncate">
                            1.1tr lượt xem
                        </p>
                        <p class="col">
                            17/06/2022
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>